$background-color: #0078c1;
$cWhite: #ffffff;
$cBlue: #134478;
$cBlack: #121212;
$cRed: #d50000;
$cGrey: #d9d9d9;
$cWhiteTransparent: rgba(255, 255, 255, 0.15);

$boxShadowBottom: 0px 2px 2px rgba(0, 0, 0, 0.1);
$boxShadowRightBottom: 2px 2px 2px rgba(0, 0, 0, 0.1);
$boxShadowCard: 4px 4px 4px rgba(0, 0, 0, 0.2);
