$w400: 400;
$w700: 700;

$fsTitle: 48px;
$fsSubtitle: 32px;
$fsSection: 24px;
$fsTextBig: 20px;
$fsTextMedium: 18px;
$fsTextSmall: 16px;
$fsInfoBig: 14px;
$fsInfoMedium: 11px;
$fsInfoSmall: 10px;

$font-family: 'Inter';
