@use '@styles/colors.scss' as *;
@use '@styles/fonts.scss' as *;

.title-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 74px;

  .title-block-main {
    display: flex;
    flex-direction: column;
    gap: 128px;
    &__name {
      font-size: $fsTitle;
      font-weight: $w700;
      color: $cWhite;
    }
    &__photos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .photo-element {
        border-radius: 8px;
      }
    }
  }
}
